<div class="form">
  <h2>Signup</h2>
  <form action="/auth/signup" method="post">
    <div class="elem">
      <label for="username">Username: </label>
      <input type="text" name="username" id="username" />
    </div>
    <div class="elem">
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" />
    </div>
    <div>
      <button>Signup</button>
    </div>
  </form>
  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}
</div>

<div class="form-footer">
  <div>
    <p>Already registered ? <a href="/auth/login">Login !</a></p>
  </div>
  <div class="link">
    <a href="/">Home</a>
  </div>
</div>