<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="pages">
  <div class="auth">
    <div class="link">
      <a href="/main">Cat picture</a>
    </div>
    <div class="link">
      <a href="/private">Funny Gif</a>
    </div>
  </div>
</div>

{{#unless isLoggedIn}}
  <div class="auth">
    <div class="link">
      <a href="/auth/signup">Signup</a>
    </div>
    <div class="link">
      <a href="/auth/login">Login</a>
    </div>
  </div>
{{/unless}}

{{!-- {{#if isLoggedIn}}
  <a href="/auth/logout">Logout</a>
{{/if}} --}}