<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- {{#if isLoggedIn}} --}}
<a href="/main">Cat picture</a>
<a href="/private">Funny Gif</a>

{{!-- {{else}} --}}
<a href="/auth/signup">Signup</a>
{{#unless isLoggedIn}}
  <a href="/auth/login">Login</a>
{{/unless}}

{{!-- {{/if}} --}}

{{#if isLoggedIn}}
  <a href="/auth/logout">Logout</a>
{{/if}}