<h1>Miaou ?</h1>
<picture class="cat">
  <img
    src="https://styles.redditmedia.com/t5_2r5i1/styles/communityIcon_x4lqmqzu1hi81.jpg"
    alt="Funny cat picture"
  />
</picture>

<div>
  <a href="/">Home</a>
</div>