<h1>Private Page</h1>

<picture>
  <img
    src="https://media4.giphy.com/media/UX4JdEzVMam707PkAW/giphy.gif?cid=790b761157e649dcdf2817b04527e25ef7eef32b27985c6f&rid=giphy.gif&ct=g"
    alt="Nice butt hamster"
  />
</picture>
<div>
  <a href="/">Home</a>
</div>